# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
.env/
.venv*/

# Distribution / packaging
build/
dist/
*.egg-info/

# Jupyter / IPython
.ipynb_checkpoints/
*.ipynb

# Datasets / Models / Cache
cache/
outputs/
checkpoints/
logs/
models/
data/

# OS files
.DS_Store
Thumbs.db

# VSCode / IDE
.vscode/
.idea/
